html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  /*background: url("https://previews.123rf.com/images/kalinavova/kalinavova1603/kalinavova160300012/55215766-%EB%B4%84-%EC%88%B2-%EB%82%98%EB%AC%B4%EC%9E%85%EB%8B%88%EB%8B%A4-%EC%9E%90%EC%97%B0-%EB%85%B9%EC%83%89-%EB%82%98%EB%AC%B4-%ED%96%87%EB%B9%9B-%EB%B0%B0%EA%B2%BD%EC%9E%85%EB%8B%88%EB%8B%A4-%ED%95%98%EB%8A%98.jpg");*/
}

.wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 320px;
  margin-top: -240px;

  /*background-color: #CCbdbdbd;*/

  /*display: grid;*/

  /*grid-template-columns: 33% 33% 33%;*/
  /*grid-auto-rows: 50% 50%;*/
  text-align: center;
}

.image {
  margin-top: 64px;
  display: inline-block;
  width: 50%;
  height: auto;
}

.search {
  display: inline-block;
  margin-top: 10px;
  width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  border: solid 5px #4286f4;
  align-self: center;
  padding-left: 16px;
}

.buttons-wrapper {
  position: absolute;
  width: 100%;
  height: 128px;

  bottom: 32px;
  text-align: center;
}

.button {
  display: inline-block;
  position: relative;
  top: 64px;
  width: 128px;
  height: 32px;
  border-radius: 8px;
  border: solid 2px #58a1f4;
  text-align: center;
  background-color: white;
}
